// colors
$color-white: #ffffff;
$color-gray: #bcc3d1;
$color-gray-dark: #737277;
$color-white-light: #f8f8f8;
$color-black: #28292d;
$color-blue: #1d29d0;
$color-purple: #5f50d5;
$color-orange-dark: coral;
$color-gray-medium: #96a1aa;
$color-red: rgba(206, 76, 76, 0.623);

// font-size
$default-font-size: 1.6rem;

// border
$border: 0.1rem solid rgba($color-gray, 0.3);
