.text-center {
  text-align: center;
}

// margin
.mg-top-lg {
  margin-top: 10rem;
}

.mg-top-xs {
  margin-top: 2rem;
}

.mg-bt-sm {
  margin-bottom: 3rem;
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 700;
}
